[submodule "react-gui"]
	path = react-gui
	url = https://github.com/tomikonio/SeqCompare-react-gui.git
[submodule "projectSce"]
	path = projectSce
	url = https://gitlab.com/projectSCEgui/projectSce.git
